# Carpeta de compilación
**/build/

# Dependencias gestionadas por ESP-IDF
**/managed_components/

# Configuración del editor dentro de Receptor
Receptor/.vscode/

# Configuración local de SDK
Receptor/sdkconfig
Receptor/sdkconfig.old
