# Ignorar carpetas de compilación
**/build/
**/bootloader_build/

# Ignorar archivos generados
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.img

# Ignorar configuración de proyecto local
**/sdkconfig

# Archivos temporales de editor
.vscode/
*.log
*.tmp
*.swp
*.swo
.DS_Store
