# Archivos binarios y carpetas de compilación
**/build/
**/bootloader_build/

# Archivos binarios generados
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.img

# Configuración local de VSCode
.vscode/

# Configuración sensible de ESP-IDF
**/sdkconfig

# Archivos temporales
*.log
*.tmp
*.swp
*.swo
*.DS_Store
